# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.metadata/

# Logs
logs/
*.log
*.log.*

# Sistema
.DS_Store
Thumbs.db
.git/
.gitignore
README.md

# Archivos temporales
*.tmp
*.bak
*.swp
*~
