server:
    servlet:
        context-path: /api/v1
    port: 8080

spring:
    application:
        name: inventario-api
    datasource:
        url: jdbc:sqlserver://localhost:1433;databaseName=InventarioCoppel;encrypt=false;trustServerCertificate=true
        username: sa
        password: Coppel2024_Test!
        driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    jpa:
        hibernate:
            ddl-auto: none
        show-sql: true
        open-in-view: false

management:
    server:
        port: 8080
    endpoints:
        web:
            exposure:
                include: health,info
    endpoint:
        health:
            show-details: never
