server:
    servlet:
        context-path: /api/v1
    port: 8080

spring:
    application:
        name: inventario-api
    datasource:
        url: jdbc:sqlserver://${DB_HOST:localhost}:${DB_PORT:1433};databaseName=${DB_NAME:InventarioCoppel};encrypt=false;trustServerCertificate=true
        username: ${DB_USERNAME:sa}
        password: ${DB_PASSWORD:Coppel2024_Test!}
        driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    jpa:
        hibernate:
            ddl-auto: none
        show-sql: true
        open-in-view: false

management:
    server:
        port: 8080
    endpoints:
        web:
            exposure:
                include: health,info
    endpoint:
        health:
            show-details: never
